# {{ ansible_managed }}

{% for config in unbound_configuration %}
    {{ config.keys().0 }}: {{ config.values().0 }}
{% endfor %}
{% if ansible_os_family == 'Alpine' %}
    auto-trust-anchor-file: "/usr/share/dnssec-root/trusted-key.key"
{% else %}
    auto-trust-anchor-file: "/var/lib/unbound/root.key"
{% endif %}
{% for interface in unbound_interfaces %}
    interface: {{interface}}
{% endfor %}
{% for access_control in unbound_access_control %}
    access-control: {{access_control}}
{% endfor %}

    hide-identity: yes
    hide-version: yes

{% for private_address in unbound_private_address %}
    private-address: {{private_address}}
{% endfor %}
