# {{ ansible_managed }}

{% for zone in unbound_forward_zones %}
    forward-zone:
        name: {{ zone.name }}
{% for host in zone.forward_host %}
        forward-host: {{ host }}
{% endfor %}
{% for addr in zone.forward_address %}
        forward-addr: {{ addr }}
{% endfor %}
{% if zone.forward_first is defined %}
        forward-first: {{ zone.forward_first }}
{% if %}
{% endfor %}      
