# {{ ansible_managed }}

{% for zone in unbound_forward_zones %}
    forward-zone:
        name: "{{ zone.name }}"
{% if zone.forward_host is defined %}
{% for host in zone.forward_host %}
        forward-host: "{{ host }}"
{% endfor %}
{% endif %}
{% if zone.forward_address is defined %}
{% for addr in zone.forward_address %}
        forward-addr: {{ addr }}
{% endfor %}
{% endif %}
{% if zone.forward_first is defined %}
        forward-first: {{ zone.forward_first }}
{% endif %}
{% endfor %}      
